<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QR Code Result</title>
    <link rel="stylesheet" href="/css/styles.css">
    
</head>
<body>
    <div class="container">
        <h1>Your QR Code</h1>
        <img src="<%= src %>" alt="QR Code">
        <div class="btn-group">
            <a href="/" class="btn btn-primary">Back</a>
            <a href="<%= src %>" download="QRCode.png" class="btn btn-success">Download</a>
            <button class="btn btn-info" id="shareButton">Share</button>
        </div>
    </div>
    <script>
        document.getElementById('shareButton').addEventListener('click', async () => {
            const qrCodeUrl = document.querySelector('img').src;
            if (navigator.share) {
                try {
                    await navigator.share({
                        title: 'QR Code',
                        url: qrCodeUrl
                    });
                    console.log('QR Code shared successfully');
                } catch (error) {
                    console.error('Error sharing QR Code:', error);
                }
            } else {
                alert('Share not supported on this browser');
            }
        });
    </script>
</body>
</html>
